.reset-password-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1.5rem;

  .reset-password-form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    overflow-y: auto;

    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      margin-bottom: 1rem;
    }
  }
  
  .reset-password-form-footer {
    padding: 1.5rem 0;
    padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
  }
}

