<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div class="flex flex-col gap-4">
      <p>toto</p>
      
      <jym-button
        mode="primary"
        icon="chevron-forward-outline"
        (click)="logout()"
        [attr.aria-label]="'auth.logout' | translate"
      >
        {{ 'auth.logout' | translate }}
      </jym-button>
    </div>
  </div>
</ion-content>
